.mainMenu {
  position: relative;

  &.open .mainMenuList {
    display: block;
  }

  .mainMenuList {
    display: none;
    position: relative;
    overflow: hidden;

    @media (min-width: 768px) {
      top: 40px;
      left: 0px;
      position: absolute;
    }
  }

  @media (min-width: 768px) {
    &:hover .mainMenuList {
      display: block;
    }
  }
}

