.selector {
  h3 {
    font-size: 1em;
    padding: 4px 20px;
    margin: 0;
    font-weight: 600;

    a {
      text-decoration: none;
      color: rgb(3, 37, 65);

      &:hover {
        color: rgba(3, 37, 65, 0.7);
      }
    }
  }
}

.active {
  border-radius: 30px;
  position: relative;
  z-index: 1;

  &:hover {
    h3 a {
      color: white;
    }
  }

  h3 a {
    color: white;
  }
}
