.selector {
  h3 {
    font-size: 1em;
    padding: 4px 20px;
    margin: 0;
    font-weight: 600;
    cursor: pointer;
    color: var(--color-navy);

    &:hover {
      color: rgba(3, 37, 65, 0.7);
    }
  }
}

.active {
  border-radius: 30px;
  position: relative;
  z-index: 1;

  &:hover h3,
  h3 {
    background: linear-gradient(to right, #c0fecf 0, #1ed5a9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
