.selectorWrap {
  position: relative;
  align-items: stretch;
  border: 1px solid rgb(3, 37, 65);
  border-radius: 30px;
  display: flex;
  justify-content: flex-start;
  height: 100%;

  @media (max-width: 768px) {
    display: none;
  }
}

.slider {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: rgb(3, 37, 65);
  border-radius: 30px;
  transition:
    left 0.3s ease,
    width 0.3s ease;
  pointer-events: none;
}

.mobileSelect {
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}

.mobileDropdown {
  display: none;
}

@media (max-width: 768px) {
  .mobileDropdown {
    display: block;
  }
  .selectorWrap {
    display: none;
  }
}

.mobileDropdownList,
.mobileDropdown,
.mobileDropdownTrigger,
.iconDown,
.activeOption {
  display: block;
}

.dropdownWrapper {
  position: absolute;
  background: white;
  border: 1px solid;
  list-style: none;
  padding: 1rem;
  border-radius: 15px;

  background: linear-gradient(
    to right,
    rgba(192, 254, 207) 0%,
    rgba(30, 213, 169) 100%
  );
}
