.showcaseCard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding-top: 20px;
  padding-bottom: 20px;

  img {
    height: 220px;
    width: 150px;
    object-fit: cover;
    border-radius: 8px;
  }

  a {
    text-decoration: none;
    color: var(--color-black);

    &:hover {
      color: var(--color-blue);
      text-decoration: underline;
    }
  }

  h3 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
  }

  .date {
    font-weight: 300;
    color: var(--color-black);
  }

  .placeholder {
    height: 220px;
    width: 150px;
    background: var(--color-grey-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    svg {
      height: auto;
      width: 50%;
    }
  }
}
