.mainMenu {
  background-color: #032541;
  position: relative;

  .mainMenuList {
    display: none;
    background-color: #032541;

    &.open {
      display: block;
    }

    @media (min-width: 768px) {
      &.open {
        display: none;
      }
    }
  }

  @media (min-width: 768px) {
    &:hover .mainMenuList {
      display: block;
    }
  }
}
