.mainMenu {
  background-color: #032541;
  position: relative;

  &:hover {
    .mainMenuList {
      display: block;

      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  .mainMenuList {
    display: none;

    @media (max-width: 767px) {
      display: none;
      background-color: #032541;

      &.open {
        display: block;
      }
    }
  }
}
