.link {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  display: inline-block;

  @media (min-width: 992px) {
    color: #212529;
    padding: 0.25rem 1rem;
    width: 100%;
    font-size: 0.9rem;
  }

  &:hover {
    background-color: #dee2e6;
  }
}
